html {
  overflow: hidden;
  height: 100%;
}
body {
  height: 100%;
  overflow: auto;
  font-family: 'Helvetica Neue';
}
small, small *{
  font-size: 12px;
}
i.fa{
  font-size: 20px;
}
.color-greeny{
  color:#00D629;
}
#result b{
  font-weight:500;
}
#result{
  font-size:13px;
}
.btn-max{
  max-width:200px;
}
.bg-green{
  background-color:yellowgreen;
}
.bg-greeny{
  background-color:#EDF3ED;
}
.btn:active{
  box-shadow:0 2px 2px rgba(0,0,0,0.3) inset;
}
.btn:focus{
  box-shadow: 0 0 0 0;
}
.img-banner{
  min-width:320px;
}
.label{
padding:5px 5px;
}
.results{
  max-width:480px;
  width:90%;
}
